/*MAIN COLOR: #e5534c; */

.list-socials li a:hover,
.search-form .search-block .search-button,
.box-minicart .cart-block .cart-icon .count,
.box-minicart .cart-inner .group-button-checkout a:hover,
.vertical-wapper,
.mobile-navigation .icon span,
.main-slideshow .slide-content .button,
.owl-carousel.nav-style1 .owl-nav .owl-prev:hover,
.owl-carousel.nav-style1 .owl-nav .owl-next:hover,
.section-head .section-title,
.product-item .product-inner .quickview-button:hover,
.product-item .group-button a:hover,
.post-item .post-date .month,
.newsletter-form .newsletter-block .submit,
.header.header-home3 .header-nav-wapper,.header.header-home3 .header-nav-wapper .header-nav,
.header.layout4 .search-form .search-block .search-button:hover,
.header.layout5,
.header.layout5 .box-sticky.is-sticky,
.header.layout6 .main-header .top-header,
.header.layout6 .vertical-content,
.header.layout6 .header-nav-wapper,
.header.layout6 .box-sticky.is-sticky .box-minicart .cart-block .cart-icon .count,
.sidebar input[type="checkbox"]:checked + label::after,
.widget_filter_price .ui-slider .ui-slider-handle,
.widget_filter_price .ui-slider .ui-slider-handle,
.widget_filter_price .ui-slider .ui-slider-range,
.list-size li a:hover,
.list-page li a.current,
.list-page li a:hover,
.details-thumb .owl-carousel.has-thumbs .owl-nav .owl-prev:hover,
.details-thumb .owl-carousel.has-thumbs .owl-nav .owl-next:hover,
.details-info .group-button a:hover,
.kt-tab.nav-tab-style2 .nav > li.active > a,
.content-form .group-button .submit,
.group-changed .changed-item a.active::before,
.post-item.layout3 .post-info .button,
.mfp-close-btn-in .mfp-close,
.kt-popup-newsletter .input-block .input-inner .submit,
.back-to-top:hover::before,
.add-review .submit:hover,
.header.layout5 .topbar.open,
.menu-bar .icon span,
.header.layout5 .mobile-config {
	background-color: #e5534c;
}
.box-minicart .cart-inner,
.section-head,
.product-item .group-button a:hover,
.item-show .owl-carousel .owl-thumb-item.active,
.sidebar input[type="checkbox"]:checked + label::after,
.list-size li a:hover,
.list-page li a:hover,
.list-page li a.current,
.details-thumb .owl-thumbs .owl-thumb-item.active,
.group-changed .changed-item a.active::before,
.back-to-top,
.header-top-menu-mobile,
.header-mobile .menu-bar,
.header-mobile .box-minicart .cart-block,
.header-mobile .mobile-config .close-btn:hover,
.header-mobile .mobile-config .close-btn:focus {
	border-color: #e5534c;
}

.text-main-color,
.box-minicart .cart-inner .title .count-item,
.box-minicart .cart-inner .subtotal .total-price,
.view-all-categori .button,
.main-menu .demos-menu .demo-item .demo-title .number,
.main-menu .sub-menu li a:hover,
.main-menu > li:hover > a,
.main-menu > li:hover > a::after,
.topbar .menu-topbar li a:hover,
.kt-panels-actions-wrap .kt-current-panel-title,
.mobile-navigation,
.slideshow1 .item3 .slide-content .subtitle,
.widget-custom-menu ul li a:hover,
.kt-tab .nav > li.active > a,
.kt-tab .nav > li > a:hover,
.product-item .product-name:hover,
.owl-carousel.has-thumbs .owl-nav .owl-prev:hover::before,
.owl-carousel.has-thumbs .owl-nav .owl-next:hover::before,
.post-item .post-info .post-title:hover,
.post-item .post-info .meta-post li a:hover,
.post-item .post-info .button:hover,
.slideshow2 .item3 .slide-content .subtitle,
.featrue-box .block-icon a,
.featrue-box .block-inner .title:hover,
.category-item .category-name:hover,
.category-item .list-cate li a:hover,
.header.layout4 .topbar .menu-topbar li a:hover,
.header.layout4 .main-menu > li > a:hover,
.header.layout4 .menu-item-has-children > a:hover::after,
.product-item.layout4 .product-inner .product-name:hover,
.main-content-home5 .list-recent-posts .product-item .product-name:hover,
.header.layout5 .search-form .search-block .search-button:hover,
.header.layout5 .buytheme:hover,
.slideshow6 .slide-content .smalltitle span,
.header.layout6 .search-form .search-block .search-button:hover,
.loadmore-products .button:hover,
.breadcrumbs a:hover,
.sidebar .label-text:hover,
.widget_filter_price .filter:hover,
.list-style .product-item .group-button .compare-button:hover,
.list-style .product-item .group-button .wishlist-button:hover,
.list-style .product-item .group-button .compare-button:hover .text,
.list-style .product-item .group-button .wishlist-button:hover .text,
.list-style .product-item .availability a:hover,
.top-control .control-button a.active ,
.details-info .availability a:hover,
.quantity .group-quantity-button a:hover,
.login-form .check-box .forgot:hover,
.information-form .list-info li .info a.des:hover,
.shopping-cart-content .delete-item a:hover,
.group-changed .changed-item a:hover::before,
.sidebar .widget .blog-categories > li > a:hover,
.sidebar .widget .blog-categories > li > a:hover::before,
.sidebar .widget-search .search-button:hover,
.post-item .post-info .meta-post .time-post .day,
.main-content-blog .tags .title a:hover,
.kt-popup-newsletter .title,
.kt-popup-newsletter .text-label:hover,
.kt-popup-quickview .details-thumb .owl-carousel.has-thumbs .owl-nav .owl-prev:hover::before,
.kt-popup-quickview .details-thumb .owl-carousel.has-thumbs .owl-nav .owl-next:hover::before,
.shopping-cart-content .product-name a:hover,
.content-form .label-text span,
.page-404 .main-title,
.page-404 .search-block .search-inner .search-button:hover,
.main-content-search-result .sub-title a:hover,
.sidebar input[type="checkbox"]:checked + label,
.page-404 .sub-title a:hover,
.mobile-navigation .text,
.topbar .menu-topbar .menu-item-has-children > a:hover::after,
.header-top-menu-mobile,
.header-mobile .menu-bar,
.header-mobile .box-minicart .cart-block .cart-icon,
.header-mobile .mobile-config .close-btn:hover,
.header-mobile .mobile-config .close-btn:focus {
	color: #e5534c;
}
